body {
    margin-left: 100px;
}

#canvas {
    background-color: rgb(200, 199, 199);
}

.background {
    background-color: rgb(200, 199, 199);
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}

.circle__big {
    width: 250px;
	height: 250px;
	background: green;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
    position: absolute;
    top: -70px;
    left: -70px;
}

.rectangle__blue {
	width: 300px;
	height: 50px;
	background: blue;
    transform: rotate(45deg);
    position: absolute;
    top: 150px;
    right: 50px;
}

.rectangle__purple {
	background: rgb(139, 0, 139);
    width: 300px;
    height: 100px;
    background: rgb(139, 0, 139);
    border-radius: 25px;
    top: 250px;
    position: absolute;
    left: 30px;
}

.circle__small {
    width: 100px;
	height: 100px;
	background: rgb(7, 153, 7);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    position: absolute;
    right: 80px;
    top: 130px;
}

.triangle__top-right {
	width: 0;
	height: 0;
	border-bottom: 100px solid red; 
	border-left: 100px solid transparent;
    position: absolute;
    bottom: 300px;
    left: 300px;    
}